@model List<SeminarPaper>

<h1 style="margin-top:30px; margin-bottom:30px">Семинарски радови</h1>

<table class="table display" id="seminaPapersTable">
    <thead>
        <tr>
            <th>RB</th>
            <th>Студент</th>
            <th>Предмет</th>
            <th>Ментор</th>
            <th>Тема</th>
            <th>Детаљније</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model.ElementAt(i).Student.LastName @Model.ElementAt(i).Student.FirstName [@Model.ElementAt(i).Student.IndexNumber]</td>
                <td>@Model.ElementAt(i).ProfessorSubject.Subject.Name</td>
                <td>@Model.ElementAt(i).ProfessorSubject.Professor.FirstName</td>
                <td>@Model.ElementAt(i).Name</td>
                <td><a href="~/papers/seminar/@Model.ElementAt(i).SeminarPaperId">Рад</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="~/papers/seminar/create" class="btn btn-primary">Додај нови семинарски рад</a>
