@model StudentViewModel

<h3>Да ли сте сигурни да желите да избришете студента?</h3>
<hr />
<h4>Студент:</h4>

<form asp-controller="Account" asp-action="DeleteStudent" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="form-group">
        @Html.Label("Име: " + @Model.Student.FirstName)<br />
        @Html.Label("Презиме: " + @Model.Student.LastName)<br />
        <label><strong>Е-пошта: @Model.Student.Email</strong></label><br />
        @Html.Label("Број индекса: " + @Model.Student.IndexNumber)<br />
        @Html.Label("Корисничко име: " + @Model.Student.UserName)<br />
        @Html.Label("Број семинарских радова: " + @Model.Student.SeminarPapers.Count)<br />
    </div>
    <button type="submit" class="btn btn-danger btn-sm">Обриши</button>
    <a asp-area="" asp-controller="Account" asp-action="Users" class="btn btn-info btn-sm">Назад</a>
</form>
